html {
    font-size:15px;
}
body {
    width: 75%;
    height: 600px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    
    border-radius: 15px;
    text-align:center;
}

h1 {
    text-shadow: 3px 4px 3px;
}

.scroll-box {
    height:70%;
    width:100%;
    border:1px solid #ccc;
    font:16px/26px Georgia, Garamond, Serif;
    overflow:auto;
    
}

.form {
    text-align: left;
    border-bottom: 3px solid black;
    border-top:3px solid black;
    border-left:2px solid black;
    border-right:2px solid black;
    border-radius: 20px;
    padding: 5px 5px 5px 5px;
    height:75px;
    width:220px;
}

/* .log {
    CSS for making logs go up
} */